.fish {
  --scale: 1;
  --yOffset: 40%;
  --animationDelay: 0s;
  --animationSpeed: 25s;
  transform-origin: center left;
  cursor: pointer;
  position: absolute;
  top: var(--yOffset);
  display: inline-block;

  animation: swimming var(--animationSpeed) var(--animationDelay) forwards
    infinite linear;

  &.catchFish {
    animation: gotCaught 1s linear forwards;
  }
}

@keyframes gotCaught {
  0% {
    transform: translateX(var(--xAnimated)) translateY(0px) scaleX(var(--scale))
      rotate(0);
  }
  50% {
    transform: translateX(var(--xAnimated))
      translateY(calc(var(--yAnimated) / 2)) scaleX(var(--scale)) rotate(45deg);
  }
  100% {
    transform: translateX(var(--xAnimated)) translateY(var(--yAnimated))
      scaleX(var(--scale)) rotate(45deg);
  }
}

@keyframes swimming {
  0% {
    --r: 1;
    transform: translateX(calc(50vw + 60vw * 1));
  }
  50% {
    --r: 1;
    transform: translateX(calc(50vw + 60vw * -1));
  }
  50.01% {
    --r: -1;
    transform: translateX(calc(50vw + 60vw * -1)) scaleX(-1);
  }
  100% {
    --r: -1;
    transform: translateX(calc(50vw + 60vw * 1)) scaleX(-1);
  }
}
